p {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.calculator {
    width: 400px;
    height: 500px;
    background-color: brown;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: 2%
}

.calculator .screen {
    width: 95%;
    height: 17%;
    background-color: burlywood;
    display: flex;
    flex-direction: row-reverse;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    box-sizing: border-box;
    padding: 5px;
}

.calculator .screen .sub-display {
    background-color: orangered;
}

.calculator .screen .main-display {
    background-color: olive;
}

.calculator .buttons {
    display: flex;
    height: 77%;
    width: 95%;
    box-sizing: border-box;
}

.calculator .buttons-section1,
.calculator .buttons-section2 {
    box-sizing: border-box;
    display: flex;
}

.calculator .buttons-section1 {
    flex-wrap: wrap;
    width: 270px;
    height: 100%;
}

.calculator .buttons-section2 {
    flex-direction: column;
    width: 90px;
    height: 100%;
 
}

.calculator .buttons p {
    /*
    border-style: solid;
    border-color: black;
    border-width: .5%; */
    box-sizing: border-box;
    background-color: blueviolet;
}


.calculator .buttons-section1 p {
    width: 33.33333%;
}

.calculator .buttons-section2 p {
    height: 20%;
    width: 100%;
}

#equals-button {
    height: 40%;
    width: 100%;
}

/*
.calculator .buttons p {
    flex: 1 1 auto;
    border-style: solid;
    border-color: black;
}

.calculator .buttons-section1 p {
    width: 33.3333333%;
    height: 20%;
}

.calculator .buttons-section2 p {
    width: 100%;
    height: 20%;
}

.calculator .buttons-section2 .equals p {
    height: 40%;
}
*/