p {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: aliceblue;
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 400px;
    height: 550px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
}

.screen {
    background-color: #2E282A;
    display: grid;
    padding: 5px;
    padding-bottom: 0px;
    grid-template-columns: 3fr 5fr;

}

.screen .main-display,
.screen .sub-display {
    display: flex;
    padding: 20px;
}

.screen .main-display {
    background-color: #FAD8D6;
    justify-content: right;
    align-items: flex-end;
}
.screen .main-display p {
    font-size: 50px;
}

.screen .sub-display {
    background-color: #EDB88B;
    border-right: solid #2E282A 5px;
    justify-content: left;
    align-items: flex-start;
}

.screen .sub-display p {
    font-size: 25px;
}

.buttons {
    background-color: #2E282A;
    display: grid;
    padding: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
}

.buttons .button-text {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s
}

.buttons .button-text p {
    font-size: 30px;
    font-weight: 300;
    cursor: grab;
}

#equals-button {
    grid-column: 4 / 5;
    grid-row: 4 / 6;
}

.operator-button {
    background-color: #EF3E36;
}
.operator-button:hover {
    background-color: #F15D55;
}

.number-button {
    background-color: #17BEBB;
}
.number-button:hover {
    background-color: #1BDAD7;
}


.other-button {
    background-color: #8e8d91;
}
.other-button:hover {
    background-color: #d8ccf5dc;
}

